.icon-anquanbaozhang{
    background:url(../../img/anquanbaozhang.svg) no-repeat;
    .rem(background-size, 32, 32);
    .rem(height, 32);
    .rem(width, 32);
}
.icon-anquanbaozhang2{
    background:url(../../img/anquanbaozhang2.svg) no-repeat;
    .rem(background-size, 32, 32);
    .rem(height, 32);
    .rem(width, 32);
}
.icon-xiaolian{
    background:url(../../img/xiaolian.svg) no-repeat;
    .rem(background-size, 32, 32);
    .rem(height, 32);
    .rem(width, 32);
}
.icon-cry{
    background:url(../../img/cry.svg) no-repeat;
    .rem(background-size, 32, 32);
    .rem(height, 32);
    .rem(width, 32);
}
.icon-kulian{
    background:url(../../img/kulian.svg) no-repeat;
    .rem(background-size, 32, 32);
    .rem(height, 32);
    .rem(width, 32);
}
.icon-aixin{
    background:url(../../img/aixin.svg) no-repeat;
    .rem(background-size, 32, 32);
    .rem(height, 32);
    .rem(width, 32);
}