.svg-aixin {
	background: url("svg/sprite.css-e61eb0a8.svg") 14.285714285714286% 0 no-repeat;
}

.svg-aixin-dims {
	width: 52px;
	height: 52px;
}

.svg-aixin-copy {
	background: url("svg/sprite.css-e61eb0a8.svg") 57.142857142857146% 71.18681318681318% no-repeat;
}

.svg-aixin-copy-dims {
	width: 52px;
	height: 52px;
}

.svg-anonymous {
	background: url("svg/sprite.css-e61eb0a8.svg") 0 14.251260688445516% no-repeat;
}

.svg-anonymous-dims {
	width: 52px;
	height: 51.12px;
}

.svg-anonymous2 {
	background: url("svg/sprite.css-e61eb0a8.svg") 28.571428571428573% 0 no-repeat;
}

.svg-anonymous2-dims {
	width: 52px;
	height: 52px;
}

.svg-anquanbaozhang {
	background: url("svg/sprite.css-e61eb0a8.svg") 0 28.32967032967033% no-repeat;
}

.svg-anquanbaozhang-dims {
	width: 52px;
	height: 52px;
}

.svg-anquanbaozhang2 {
	background: url("svg/sprite.css-e61eb0a8.svg") 14.285714285714286% 28.32967032967033% no-repeat;
}

.svg-anquanbaozhang2-dims {
	width: 52px;
	height: 52px;
}

.svg-close {
	background: url("svg/sprite.css-e61eb0a8.svg") 28.571428571428573% 28.32967032967033% no-repeat;
}

.svg-close-dims {
	width: 52px;
	height: 52px;
}

.svg-close2 {
	background: url("svg/sprite.css-e61eb0a8.svg") 42.857142857142854% 0 no-repeat;
}

.svg-close2-dims {
	width: 52px;
	height: 52px;
}

.svg-dianhua {
	background: url("svg/sprite.css-e61eb0a8.svg") 42.857142857142854% 14.285714285714286% no-repeat;
}

.svg-dianhua-dims {
	width: 52px;
	height: 52px;
}

.svg-dianhua2 {
	background: url("svg/sprite.css-e61eb0a8.svg") 0 42.61538461538461% no-repeat;
}

.svg-dianhua2-dims {
	width: 52px;
	height: 52px;
}

.svg-dianhua3 {
	background: url("svg/sprite.css-e61eb0a8.svg") 14.285714285714286% 42.61538461538461% no-repeat;
}

.svg-dianhua3-dims {
	width: 52px;
	height: 52px;
}

.svg-down {
	background: url("svg/sprite.css-e61eb0a8.svg") 28.571428571428573% 42.61538461538461% no-repeat;
}

.svg-down-dims {
	width: 52px;
	height: 52px;
}

.svg-iconfont-androidbus {
	background: url("svg/sprite.css-e61eb0a8.svg") 42.857142857142854% 42.61538461538461% no-repeat;
}

.svg-iconfont-androidbus-dims {
	width: 52px;
	height: 52px;
}

.svg-iconfont-bofang {
	background: url("svg/sprite.css-e61eb0a8.svg") 57.142857142857146% 0 no-repeat;
}

.svg-iconfont-bofang-dims {
	width: 52px;
	height: 52px;
}

.svg-iconfont-cry {
	background: url("svg/sprite.css-e61eb0a8.svg") 57.142857142857146% 14.285714285714286% no-repeat;
}

.svg-iconfont-cry-dims {
	width: 52px;
	height: 52px;
}

.svg-iconfont-dianhua(2) {
	background: url("svg/sprite.css-e61eb0a8.svg") 57.142857142857146% 28.571428571428573% no-repeat;
}

.svg-iconfont-dianhua(2)-dims {
	width: 52px;
	height: 52px;
}

.svg-iconfont-ditu {
	background: url("svg/sprite.css-e61eb0a8.svg") 0 56.9010989010989% no-repeat;
}

.svg-iconfont-ditu-dims {
	width: 52px;
	height: 52px;
}

.svg-iconfont-dizhi {
	background: url("svg/sprite.css-e61eb0a8.svg") 14.285714285714286% 56.9010989010989% no-repeat;
}

.svg-iconfont-dizhi-dims {
	width: 52px;
	height: 52px;
}

.svg-iconfont-duduyinleappicon4101 {
	background: url("svg/sprite.css-e61eb0a8.svg") 28.571428571428573% 56.9010989010989% no-repeat;
}

.svg-iconfont-duduyinleappicon4101-dims {
	width: 52px;
	height: 52px;
}

.svg-iconfont-gerenzhongxin {
	background: url("svg/sprite.css-e61eb0a8.svg") 42.857142857142854% 56.9010989010989% no-repeat;
}

.svg-iconfont-gerenzhongxin-dims {
	width: 52px;
	height: 52px;
}

.svg-iconfont-huadonganniuyes {
	background: url("svg/sprite.css-e61eb0a8.svg") 57.142857142857146% 56.9010989010989% no-repeat;
}

.svg-iconfont-huadonganniuyes-dims {
	width: 52px;
	height: 52px;
}

.svg-iconfont-huawu {
	background: url("svg/sprite.css-e61eb0a8.svg") 71.42857142857143% 0 no-repeat;
}

.svg-iconfont-huawu-dims {
	width: 52px;
	height: 52px;
}

.svg-iconfont-iconfonti2-copy-copy-copy {
	background: url("svg/sprite.css-e61eb0a8.svg") 71.42857142857143% 14.285714285714286% no-repeat;
}

.svg-iconfont-iconfonti2-copy-copy-copy-dims {
	width: 52px;
	height: 52px;
}

.svg-iconfont-iconfonticon19 {
	background: url("svg/sprite.css-e61eb0a8.svg") 71.42857142857143% 28.571428571428573% no-repeat;
}

.svg-iconfont-iconfonticon19-dims {
	width: 52px;
	height: 52px;
}

.svg-iconfont-iconrenzheng01 {
	background: url("svg/sprite.css-e61eb0a8.svg") 71.42857142857143% 42.85361096612917% no-repeat;
}

.svg-iconfont-iconrenzheng01-dims {
	width: 52px;
	height: 51.97px;
}

.svg-iconfont-jiantouyou {
	background: url("svg/sprite.css-e61eb0a8.svg") 0 71.18681318681318% no-repeat;
}

.svg-iconfont-jiantouyou-dims {
	width: 52px;
	height: 52px;
}

.svg-iconfont-jiaoyu {
	background: url("svg/sprite.css-e61eb0a8.svg") 14.285714285714286% 71.18681318681318% no-repeat;
}

.svg-iconfont-jiaoyu-dims {
	width: 52px;
	height: 52px;
}

.svg-iconfont-kulian {
	background: url("svg/sprite.css-e61eb0a8.svg") 28.571428571428573% 71.18681318681318% no-repeat;
}

.svg-iconfont-kulian-dims {
	width: 52px;
	height: 52px;
}

.svg-iconfont-qian {
	background: url("svg/sprite.css-e61eb0a8.svg") 42.857142857142854% 71.18681318681318% no-repeat;
}

.svg-iconfont-qian-dims {
	width: 52px;
	height: 52px;
}

.svg-iconfont-shijian {
	background: url("svg/sprite.css-e61eb0a8.svg") 0 0 no-repeat;
}

.svg-iconfont-shijian-dims {
	width: 52px;
	height: 52px;
}

.svg-iconfont-sousuo {
	background: url("svg/sprite.css-e61eb0a8.svg") 71.42857142857143% 71.18681318681318% no-repeat;
}

.svg-iconfont-sousuo-dims {
	width: 52px;
	height: 52px;
}

.svg-iconfont-wudao {
	background: url("svg/sprite.css-e61eb0a8.svg") 85.71428571428571% 0 no-repeat;
}

.svg-iconfont-wudao-dims {
	width: 52px;
	height: 52px;
}

.svg-iconfont-wuliu {
	background: url("svg/sprite.css-e61eb0a8.svg") 85.71428571428571% 14.285714285714286% no-repeat;
}

.svg-iconfont-wuliu-dims {
	width: 52px;
	height: 52px;
}

.svg-iconfont-zuobiao {
	background: url("svg/sprite.css-e61eb0a8.svg") 85.71428571428571% 28.571428571428573% no-repeat;
}

.svg-iconfont-zuobiao-dims {
	width: 52px;
	height: 52px;
}

.svg-liuyan {
	background: url("svg/sprite.css-e61eb0a8.svg") 85.71428571428571% 42.857142857142854% no-repeat;
}

.svg-liuyan-dims {
	width: 52px;
	height: 52px;
}

.svg-shouye {
	background: url("svg/sprite.css-e61eb0a8.svg") 85.71428571428571% 56.955093099671416% no-repeat;
}

.svg-shouye-dims {
	width: 52px;
	height: 50.8px;
}

.svg-shouye2 {
	background: url("svg/sprite.css-e61eb0a8.svg") 85.71428571428571% 70.86527929901425% no-repeat;
}

.svg-shouye2-dims {
	width: 52px;
	height: 50.8px;
}

.svg-up {
	background: url("svg/sprite.css-e61eb0a8.svg") 0 85.47252747252747% no-repeat;
}

.svg-up-dims {
	width: 52px;
	height: 52px;
}

.svg-wode {
	background: url("svg/sprite.css-e61eb0a8.svg") 14.285714285714286% 85.47252747252747% no-repeat;
}

.svg-wode-dims {
	width: 52px;
	height: 52px;
}

.svg-wode2 {
	background: url("svg/sprite.css-e61eb0a8.svg") 28.571428571428573% 85.47252747252747% no-repeat;
}

.svg-wode2-dims {
	width: 52px;
	height: 52px;
}

.svg-xiaolaba {
	background: url("svg/sprite.css-e61eb0a8.svg") 42.857142857142854% 85.47252747252747% no-repeat;
}

.svg-xiaolaba-dims {
	width: 52px;
	height: 52px;
}

.svg-xiaolian {
	background: url("svg/sprite.css-e61eb0a8.svg") 57.142857142857146% 85.47252747252747% no-repeat;
}

.svg-xiaolian-dims {
	width: 52px;
	height: 52px;
}

.svg-xiaoxi {
	background: url("svg/sprite.css-e61eb0a8.svg") 71.42857142857143% 85.47252747252747% no-repeat;
}

.svg-xiaoxi-dims {
	width: 52px;
	height: 52px;
}

.svg-xiaoxi2 {
	background: url("svg/sprite.css-e61eb0a8.svg") 85.71428571428571% 85.47252747252747% no-repeat;
}

.svg-xiaoxi2-dims {
	width: 52px;
	height: 52px;
}

.svg-xingbienan {
	background: url("svg/sprite.css-e61eb0a8.svg") 100% 0 no-repeat;
}

.svg-xingbienan-dims {
	width: 52px;
	height: 52px;
}

.svg-xingbienan2 {
	background: url("svg/sprite.css-e61eb0a8.svg") 100% 14.285714285714286% no-repeat;
}

.svg-xingbienan2-dims {
	width: 52px;
	height: 52px;
}

.svg-xingbienan3 {
	background: url("svg/sprite.css-e61eb0a8.svg") 100% 28.571428571428573% no-repeat;
}

.svg-xingbienan3-dims {
	width: 52px;
	height: 52px;
}

.svg-xingbienan4 {
	background: url("svg/sprite.css-e61eb0a8.svg") 100% 42.857142857142854% no-repeat;
}

.svg-xingbienan4-dims {
	width: 52px;
	height: 52px;
}

.svg-xingbienv {
	background: url("svg/sprite.css-e61eb0a8.svg") 100% 57.142857142857146% no-repeat;
}

.svg-xingbienv-dims {
	width: 52px;
	height: 52px;
}

.svg-xingbienv2 {
	background: url("svg/sprite.css-e61eb0a8.svg") 100% 71.42857142857143% no-repeat;
}

.svg-xingbienv2-dims {
	width: 52px;
	height: 52px;
}

.svg-xingbienv3 {
	background: url("svg/sprite.css-e61eb0a8.svg") 0 99.75824175824175% no-repeat;
}

.svg-xingbienv3-dims {
	width: 52px;
	height: 52px;
}

.svg-xingbienv4 {
	background: url("svg/sprite.css-e61eb0a8.svg") 14.285714285714286% 99.75824175824175% no-repeat;
}

.svg-xingbienv4-dims {
	width: 52px;
	height: 52px;
}

.svg-xuan {
	background: url("svg/sprite.css-e61eb0a8.svg") 28.571428571428573% 99.75824175824175% no-repeat;
}

.svg-xuan-dims {
	width: 52px;
	height: 52px;
}

.svg-xuan2 {
	background: url("svg/sprite.css-e61eb0a8.svg") 42.857142857142854% 99.75824175824175% no-repeat;
}

.svg-xuan2-dims {
	width: 52px;
	height: 52px;
}

.svg-xuanzhong {
	background: url("svg/sprite.css-e61eb0a8.svg") 57.142857142857146% 99.75824175824175% no-repeat;
}

.svg-xuanzhong-dims {
	width: 52px;
	height: 52px;
}

.svg-yanjing {
	background: url("svg/sprite.css-e61eb0a8.svg") 71.42857142857143% 99.75824175824175% no-repeat;
}

.svg-yanjing-dims {
	width: 52px;
	height: 52px;
}

.svg-yixuan {
	background: url("svg/sprite.css-e61eb0a8.svg") 85.71428571428571% 99.75824175824175% no-repeat;
}

.svg-yixuan-dims {
	width: 52px;
	height: 52px;
}

.svg-yixuan2 {
	background: url("svg/sprite.css-e61eb0a8.svg") 100% 99.75824175824175% no-repeat;
}

.svg-yixuan2-dims {
	width: 52px;
	height: 52px;
}

